################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Test/obj
/Exercise1/obj
/.vs
/Exercise11/MVC_Ex11/.vs/MVC_Ex11
/Exercise11/MVC_Ex11/MVC_Ex11.sln
/Lexicon24.sln
/Exercise11/MVC_Ex11/MVC_Ex11/obj
/Exercise11/MVC_Ex11/MVC_Ex11/bin/Debug/net8.0
/Exercise11/MVC_Ex11/.vs/ProjectEvaluation
