@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MVC fun</h1>
    <p>Learn how to <a href="https://edition.cnn.com">build a Satan </a>asp ppls ASP!!</p>
</div>
